div.rojo{
    display: flex; 
    justify-content: center;
    background-color: red;
    color: black;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    text-align: center;
    Width :100%;

}
div.links{
    display: flex; 
    justify-content: center;
    background-color: white;
    color:black;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    text-align: center;
    Width :100%;

}
div.botonVioleta{
    display: flex; 
    justify-content: center;
    background-color: violet;
    color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    text-align: center;
    Width :100%;
    
} 
section.seccion{
    display: flex;
    justify-content: content-distribution;
    align-items: center;
    flex-direction: row;
    height: 100vh;

}