p.segundo{
background-color: #C6FFF5;
margin-left: 230px;
border:solid;
padding:27px 42px  ;
}
body{
    background-color:burlywood ;
    
}

p{
    background-color: #FF5050;
    padding: 54px 63px;
}
img{
    margin-top: 51px;
    vertical-align:middle;
}
h3{
font-size: 45px;
display:inline;
vertical-align:middle;
}

h1{
line-height: 100%;
letter-spacing: 0%;
width: 500;
height: 66;
top: 104px;
left: 75px;

}